@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222 84% 5%;

    --card: 0 0% 100%;
    --card-foreground: 222 84% 5%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 222 84% 5%;
 
    --primary: 187 69% 59%;
    --primary-foreground: 222 84% 5%;
 
    --secondary: 319 56% 76%;
    --secondary-foreground: 222 84% 5%;
 
    --muted: 45 69% 76%;
    --muted-foreground: 222 84% 5%;
 
    --accent: 0 60% 76%;
    --accent-foreground: 222 84% 5%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 187 69% 59%;
 
    --radius: 0.5rem;
  }
}